@font-face
*{
    font-family: 微軟正黑體;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    color:burlywood
  }
  nav{
    padding: 10px;
    grid-template-columns: 30% 70%;
    display: grid;
  }